.image {
  width:100%;
  object-fit: cover;
  position: relative;
}

.header-text{
  top: 40%;
  transform: translateY(-50%);
  -webkit-transorm: translateY(-50%); /* for Chrome */
  position: absolute;
  left: 0;
  padding-left:40px;
  color:white;
  display: inline-block;
  font-family: RobotoCondensed Bold,Trebuchet MS,Helvetica,Arial,sans-serif;
  letter-spacing: 1.2px;
  

}

.header1 {
  font-size: 16px;
  display:inline-block;
  margin-bottom: 10px;
  font-weight: bold;
}

.header2{
  font-size: 40px;
  display:inline-block;
  font-weight: bold;
  margin-bottom: 10px;
}

.header3 {
  font-size:15px;
  display:inline-block;
}

/* Tab Styling */

nav {
  margin-left: 50px;
  background-color: black;
  width:35%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
  border-right: 1px solid gray;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}