@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

.image {
  width:100%;
  object-fit: cover;
  position: relative;
}

.header-text{
  top: 40%;
  transform: translateY(-50%);
  -webkit-transorm: translateY(-50%); /* for Chrome */
  position: absolute;
  left: 0;
  margin-left: 60px;
  color:white;
  display: inline-block;
  font-family: RobotoCondensed Bold,Trebuchet MS,Helvetica,Arial,sans-serif;
  letter-spacing: 1.2px;
  

}

.header1 {
  font-size: 16px;
  display:inline-block;
  margin-bottom: 10px;
  font-weight: bold;
}

.header2{
  font-size: 40px;
  display:inline-block;
  font-weight: bold;
  margin-bottom: 10px;
}

.header3 {
  font-size:15px;
  display:inline-block;
}

/* Tab Styling */

nav {
  margin-left: 60px;
  background-color: black;
  width:22%;
  position: absolute;
  top: 500px;
  width: auto;
 
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
  font-size: 12px;
  
 
}

.margin-top {
  margin-top:10px;
}

.gray-border {
  border-right: 1px solid gray;
}

li a {
  display: block;
  color: rgb(190, 190, 190);
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-weight: bold;
}

li a:hover {
  color: #ffffff;
}

/* flex container styling */
.image2 {
  margin-top:50px;
  margin-left:5%;
  width:35%;
  height:auto;
}

.article {
  width: 50%;
  font-size: 1.2em;
  text-align:justify;
  margin-top: 30%;
  margin-left: 30%;
  font-family: 'Roboto Condensed', sans-serif;
}

.flex-container {
  display: flex;
}

.button {
  background-color:#e62429;
  color:white;
  margin-top: 10px;
  font-size: 0.9rem;
  text-transform: capitalize;
  font-weight: bold;
  width:10em;
  padding:12px;
  border:none;
  border-color: transparent;
  border-style: solid;
  /* clip-path: polygon(10% 0, 100% 0%, 100% 37%, 100% 80%, 85% 100%, 0 100%, 0 25%); */
  clip-path: polygon(12% 0, 100% 0%, 100% 37%, 100% 66%, 88% 100%, 0 100%, 0 30%);
}

.button:hover{
  background-color:#a0191d;
  cursor: pointer;
}


/* LATEST NEWS */

.latest-news {
  background-color: black;
  margin: 0;
}

.latest-news-header{
  margin:0;
  color:white;
  margin-left: 60px;
  padding-top: 1em;
  padding-bottom: 1em ;
}

.card {
  display: flex;
  color:white;
  margin-right:60px;
  margin-left: 60px;
}

.card:hover{
  cursor: pointer;
}

.container {
  margin-right:10px;
}

.card-img {
  width:100%;
  height:200px;
}