.image {
  width:100%;
  object-fit: cover;
  position: relative;
}

.header-text{
  top: 30%;
  transform: translateY(-50%);
  -webkit-transorm: translateY(-50%); /* for Chrome */
  position: absolute;
  left: 0;
  padding-left:40px;
  color:white;
  display: inline-block;
  font-family: RobotoCondensed Bold,Trebuchet MS,Helvetica,Arial,sans-serif;
  letter-spacing: 1.2px;
  

}

.header1 {
  font-size: 18px;
  display:inline-block;
  margin-bottom: 10px;
}

.header2{
  font-size: 30px;
  display:inline-block;
  margin-bottom: 10px;
}

.header3 {
  font-size:15px;
  display:inline-block;
}